- if user_signed_in?
  %li= link_to 'Edit account', edit_user_registration_path
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
  - current_user.teams.each do |team|
    %li= link_to "Zarządzaj teamem #{team.name}", team_path(team)

- else
  %li= link_to 'Sign in', new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  - if current_user.admin?
    %li= link_to 'Admin', '/admin'
    %li= link_to 'Users', users_path
    %li= link_to 'Misje', admin_missions_path
    %li= link_to 'Teamy', admin_teams_path
